@font-face {
    font-family: myFonts;
    src: url(../fonts/noto_sans_lao.ttf) format("truetype"),
        url(../fonts/roboto.ttf) format("truetype");
}

body {
    font-family: myFonts, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

input::placeholder {
    font-family: myFonts, sans-serif;
}

select {
    font-family: myFonts, sans-serif;
}