@font-face {
    font-family: myFonts;
    src: url(../fonts/noto_sans_lao.woff2) format("woff2"),
        url(../fonts/roboto.woff2) format("woff2");
}

body, input::placeholder {
    font-family: myFonts, sans-serif;
}
