<%- include('components/header.ejs') %>
<%- include('components/navbar.ejs')%>
<main>
    <div class="container">
        <h3 class="center">ບໍ່ພົບໜ້າທີ່ທ່ານຕ້ອງການເຂົ້າເຖິງ</h3>
        <p class="center">ກະລຸນາກວດສອບທີ່ຢູ່ໃຫ້ຖືກຕ້ອງແລ້ວລອງໃໝ່ອີກຄັ້ງ...</p>
        <div class="card center-block">
            <div class="card-content">
                <div class="card-image">
                    <img src="/img/404.jpg" alt="404" class="responsive-img">
                    </div>
                </div>
            </div>
        </div>
</main>

<%- include('components/footer.ejs')%>