<%- include('components/header.ejs')%>
<%- include('components/navbar.ejs')%>

<main>
    <div class="container">
        <h1 class="center">Kuribohshop</h1>
        <h6 class="center">ແຫຼ່ງຈໍາໜ່າຍໄພ້ເກມແລະເກມກະດານທີ່ດີທີ່ສຸດໃນລ້ານຊ້າງປະເທດ</h6>
        <br>
        <h5 class="center">ກ່ຽວກັບພວກເຮົາ</h5>
        <p>Kuribohshop ເປັນຮ້ານຈັດຈໍາໜ່າຍໄພ້ເກມແລະເກມກະດານຜູ້ທໍາອິດໃນປະເທດລາວ. ພວກເຮົາຈະມີການນໍາເຂົ້າສິນຄ້າໃໝ່ໆທຸກເດືອນ,
            ເພື່ອໃຫ້ທ່ານໄດ້ຮັບຜະລິດຕະພັນ ແລະ ປະສົບການທີ່ດີຈາກຮ້ານຂອງພວກເຮົາ</p>
        <h5 class="center">ສະຖານທີ່ຕັ້ງ</h5>
        <p>ໃນຂະນະນີ້, ຮ້ານເຮົາຍັງມີການຂາຍສິນຄ້າແບບອອນລາຍ ແລະ ຍັງບໍ່ມີໜ້າຮ້ານເທື່ອ ເຊິ່ງຈະມີການເປີດຮ້ານໃໝ່ໃນໄວໆນີ້</p>
        <h5 class="center">ຕິດຕໍ່</h5>
        <p>ທ່ານສາມາດຕິດຕໍ່ໄດ້ທີ່ເບີ 020 99766678 ຫຼື ອີເມວ <a href="mailto:atyinthavongsa@gmail.com">atyinthavongsa@gmail.com</a></p>
    </div>
    </div>
</main>

<%- include('components/footer.ejs')%>