<footer class="page-footer blue lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <h5>Kuribohshop</h5>
                        <p class="grey-text text-lighten-3">ນະຄອນຫຼວງວຽງຈັນ, ປະເທດລາວ</p>
                        <p class="grey-text text-lighten-3">Vientiane, Laos</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <h5>ໄພ້ເກມ</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/brand/yugioh">Yu-Gi-Oh!</a></li>
                            <li><a class="grey-text text-lighten-3" href="/brand/vanguard">Cardfight!! Vanguard</a></li>
                            <li><a class="grey-text text-lighten-3" href="/brand/pokemon">Pokémon</a></li>
                            <li><a class="grey-text text-lighten-3" href="/brand/uno">UNO</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3">
                        <h5>ເກມກະດານ</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/brand/monopoly">Monopoly</a></li>
                            <li><a class="grey-text text-lighten-3" href="/brand/catan">Catan</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m6 l3">
                        <h5>ຊຸມຊົນ</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://facebook.com">Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://twitter.com">Twitter</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://youtube.com">YouTube</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>Kuribohshop © ສະຫງວນລິຂະສິດ 2019</p>
        </div>
    </div>
</footer>
<script src="/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>

</html>