<!DOCTYPE html>
<html lang="lo">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="application-name" content="Kuribohshop">
    <meta name="description" content="ຮ້ານຂາຍໄພ້ເກມ ແລະ ເກມກະດານ">
    <meta name="author" content="Philaphonh Inthavongsa">
    <meta name="keywords" content="Trading Card Game, Board Game, Kuribohshop, Yu-Gi-Oh!, Vanguard, Catan, Monopoly">
    <link rel="shortcut icon" href="/img/linkuriboh.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/my_style.css">
    <title>Kuribohshop - <%= title %></title>
</head>

<body>