<header>
    <div class="navbar-fixed">
        <nav class="blue lighten-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Kuribohshop</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-target="card-dropdown">ໄພ້ເກມ<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="board-dropdown">ເກມກະດານ<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/article">ບົດຄວາມ</a></li>
                    <li><a href="/about">ກ່ຽວກັບ</a></li>
                    <li>
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" placeholder="ຄົ້ນຫາ" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="dropdown-content" id="card-dropdown">
                    <li><a href="/brand/yugioh" class="blue-text text-darken-2">Yu-Gi-Oh!</a></li>
                    <li><a href="/brand/vanguard" class="blue-text text-darken-2">Cardfight!! Vanguard</a></li>
                    <li><a href="/brand/pokemon" class="blue-text text-darken-2">Pokémon</a></li>
                    <li><a href="/brand/uno" class="blue-text text-darken-2">UNO</a></li>
                </ul>
                <ul class="dropdown-content" id="board-dropdown">
                    <li><a href="/brand/monopoly" class="blue-text text-darken-2">Monopoly</a></li>
                    <li><a href="/brand/catan" class="blue-text text-darken-2">Catan</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-nav">
        <li><a class="sidenav-close" href="#!"><i class="material-icons">cancel</i></a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordition">
                <li>
                    <a href="#" class="collapsible-header">ໄພ້ເກມ</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/brand/yugioh">Yu-Gi-Oh!</a></li>
                            <li><a href="/brand/vanguard">Cardfight!! Vanguard</a></li>
                            <li><a href="/brand/pokemon">Pokémon</a></li>
                            <li><a href="/brand/uno">UNO</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordition">
                <li>
                    <a href="#" class="collapsible-header">ເກມກະດານ</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/brand/monopoly">Monopoly</a></li>
                            <li><a href="/brand/catan">Catan</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding"><a href="/article">ບົດຄວາມ</a></li>
        <li class="no-padding"><a href="/about">ກ່ຽວກັບ</a></li>
    </ul>
</header>